@media screen and (min-width: 768px) {
    .form-page {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    .membership-cards {
        grid-template-columns: 1fr;
        position: sticky;
        top: 2rem;
    }

    main {
        max-width: 1000px;
        margin: 2rem auto;
        text-align: center;
    }
}
